<container class="profileCard">
    <div class="userProfileAvatar"><img src="<%= designer.avatar %>" alt="Avatar"></div>
    <div class="userProfileName"><%= designer.name %></div>
    <div class="userProfileNickname"><%= designer.nickname %></div>
    <div class="userProfileInstagram"><a href="https://<%= designer.instagram %>" target="_blank"><img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" alt="Instagram"></a></div>
    <div class="userProfileBio"><%= designer.bio %></div>
</container>
<container class="userProfileHeader">
    <a class="userProfileFavorites" href="/users/<%= designer._id %>/favorites">Favorites</a>
    <a class="userProfileDesigns" href="/users/<%= designer._id %>">Designs</a>
    <a class="userProfileCars" href="/users/<%= designer._id %>/cars">Cars</a>
</container>