<%- include('../partials/header') %>

<container class="showDesign"> 
  <div><img src="<%= design.images %>" alt="Design Image"></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <div><%= design.title %></div>
  <a href="/designs/<%= design._id %>/edit">Edit Part</a>
</container>


<%- include('../partials/footer') %>