<%- include('../partials/header') %>

<h3 class=title><%= title %></h3>
<form class="edit-user" action="/users/<%= user._id %>?_method=PUT" method="POST">
    <label>Username<br>
        <input type="text" name="nickname" value="<%= user.nickname %>">
    </label>
    <label>Instagram<br>
        <input type="text" name="instagram" value="<%= user.instagram %>">
    </label>
    <label class="editbio">Bio<br>
        <textarea rows="6" cols="35" name="bio" value="<%= user.bio %>"><%= user.bio%></textarea>
    </label>
    <input type="submit" value="Save">
</form>

<%- include('../partials/footer') %>