<%- include('../partials/header') %>
<%- include('../partials/profile') %>

<container class="userDesignsIndex">
  <% designs.forEach(function(d) { %>
    <% d.favorites.forEach(function(f) { %>
     <% if (f.user = designer._id) {%>
      <div class="onePart">
        <div class="onePartImage"><img src="<%= d.images %>" alt="Part Image"></div>
        <div><a href="/designs/<%= d._id %>"><%= d.title %></a></div>
        <div><%= designer.name %></div>
        <div><%= d.category %></div>
        <div class="index-interactions">
          <% let numFavorites = d.favorites.length %>
          <div> <%= numFavorites %> <img src="https://i.imgur.com/rZ2yCNk.png" alt="Like Icon" width="20"> </div>
          <% let numComments = d.comments.length%>
            &nbsp;&nbsp;
          <div> <img src="https://i.imgur.com/2rlDJHf.png" alt="Comment Icon" width="20"> <%= numComments %> </div>
        </div>
      </div>
      </div>
      <% } %>
    <% }) %>
  <% }); %>
</containter>

<%- include('../partials/footer') %>